<app-welcome-to-angular [name]="firstName"></app-welcome-to-angular>
<!-- <app-button-click (buttonClicked)="onButtonClicked()"></app-button-click> -->
@if (showTwoWayBinding) {
<app-two-way-binding></app-two-way-binding>
} @else {
<p>Two way binding component is hidden</p>
}

<button (click)="toggleTwoWayBinding()">Toggle Two Way Binding</button>

@for (person of peopleList; track $index) {
<p>{{ person.name }} is {{ person.age }} years old</p>
}

<h2>Pick your favorite color</h2>
<select [(ngModel)]="color">
  <option value="red">Red</option>
  <option value="blue">Blue</option>
  <option value="green">Green</option>
  <option value="yellow">Yellow</option>
</select>

@switch(color) { @case ('red') {
<p style="color: red">You picked red</p>
} @case ('blue') {
<p style="color: blue">You picked blue</p>
} @case ('green') {
<p style="color: green">You picked green</p>
} @case ('yellow') {
<p style="color: yellow">You picked yellow</p>
} @default {
<p>Please pick a color</p>
} }

<h2>Click the button to increment the counter</h2>
<button (click)="increment()">Click me</button>
<p>Button was clicked {{ getCount() }} times</p>
